header{
    height: 240px;
}
a{
    color:#0a93a6; 
    text-decoration: none;
} 

li{
    list-style-type: none;
}

p {
    display: inline;
}

footer.margins {
    height: 20px;
}

/* body { 
    background: url(../images/jungle.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    } */


.mini-logo {
    width: 50px;
    height: 75px;
}

.logo {
    width: 250px;
    height: 250px;
}

.separator {
    height: 200px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.button-test-creator{
    margin-top: 40%;
}

.profile{
    text-align: center;
}

.user-tests-box {
    padding-bottom: 20px;
}
